main {
    margin: 12px;
height: 100vh;
    border-radius: 12px;
    box-shadow: rgb(66 76 90) 10px 10px 100px;
    border: rgb(40 45 61) 10px solid;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(35, 39, 50);
    color: black;

}