.flex{display: flex;}
.alingItemCenter{align-items: center;}
.textAlingCenter{text-align: center;}
.justifyContentCener{justify-content: center;}
.justifyContentSpaceBetween{justify-content: space-between;}